
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* fin du reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * *  <!-------->  Page index.html  <---------!> * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * Header * * * * * * * * */
/* * * Bandeau contact d'urgence * * */
.assistance-direct{
    background-color: red;
    height: 3rem;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    padding-top: 1%;
    position: fixed;
    width: 100%;
}
header{
    position: fixed;
}
header nav {
    background: white;
    width: 100%;
}
.assistance-direct a {
    color: white;
}

.nav-classic-sticky {
    display: flex;
    justify-content: space-around;
    padding: 3% 0 1% 7%;
    position: fixed;
    margin-top: 2.59rem;
    border-bottom: 0.5px solid #2f3438;
}
.nav-classic-sticky a {
    text-transform: capitalize;
    font-family: 'Fjalla One', sans-serif;
    padding: 1.5% 0;
    text-decoration: none;
    color: #2f3438;
    width: 25%;
}
.home-introduction {
    text-align: center;
    background-image: url("assets/appel-voiture.jpeg");
    background-position: 50%;
    padding: 3rem;
    color: white;
    height: 22rem;
}
.home-introduction h1 {
    padding: 11rem 3rem;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.88rem;
}
.home-introduction span {
    font-family: 'Jolly Lodger', cursive;
    color: red;
    margin-top: 2%;
    font-size: 2.5rem;
    margin-bottom: 2%;
}
.reassurance {
    font-family: 'Handlee', cursive;
    color: #2f3438;
    text-align: center;
    border: 1px solid #2f3438;
    border-radius: 20px;
    margin: 4%;
}
.reassurance article {
    color: #2f3438;
}
.reassurance h1 {
    color: #2f3438;
    font-size: 1.25rem;
}
.reassurance p {
    margin-top: 3%;
}
.fas {
    font-size: 2.5rem;
}
.introduction-entreprise {
    font-family: 'Handlee', cursive;
    padding: 2% 9%;
    text-align: center;
    border: 1px solid #2f3438;
    border-radius: 20px;
    margin: 4%;
    color: #2f3438;
}
.visite {
    padding: 2% 0;
    text-align: center;
    color: #2f3438;
}
.visite a {
    color: #2f3438;
}

article h1 {
    font-family: 'Chango', cursive;
    padding: 1.33rem 0px;
    font-size: 1rem;
}
.coordonnees-entreprise {
    text-align: center;
}
article {
    text-align: center;
}
article p {
    font-style: italic;
}
.nav-footer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}
.nav-footer a {
    text-decoration: none;
    color: white;
    font-style: italic;
    padding: 2% 0;
    width: 100%;
}

.nav-footer {
    background-color: #2f3438;
}
.visite {
    border: 0.5rem solid;
    border-radius: 10px;
    margin: 5% 10%;
    padding: 3.5%;
}
.visite h2, .visite h3, .visite a {
    padding: 2% 0;
}
/* * * * * * * * * Read more * * * * * * * * */
.readMore {
    border: none;
}
.content {
    display: none;
    overflow: hidden;
    padding: 2% 6%;
    border: 0.5px solid #2f3438;
    border-radius: 20px;
    margin: 2%;
}

/* * * * * * * * * Slider de la Homepage * * * * * * * * */
.container {
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slides {
    display: flex;
    height: 100%;
}
.slide {
    min-width: 100%;
}
.slide img {
    height: 100%;
    width: 100%;
}
.slide-controls {
    display: flex;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; 
}

.line {
    position: static;
    margin: 0 auto;
    overflow: hidden;
}

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both;

}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 14em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * *  <!-------->  page services.html  <---------!> * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */


.nav-classic-sticky-services a {
    text-transform: capitalize;
    font-family: 'Fjalla One', sans-serif;
    padding: 5% 0 2% 0;
    text-decoration: none;
    color: #2f3438;
    width: 25%;
}

.services article h2:first-child {
    padding: 10% 0 4% 0;
    font-family: 'Chango', cursive;
    border-bottom: 0.5px solid black;
    margin: 0 25%;
}
.services h1 {
    padding-top: 6.5rem;
    font-family: 'Chango', cursive;
    text-align: center;
}
.services article {
    padding: 0% 10%;
}

.services aside {
    text-align: center;
    background: black;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.services aside h2, .services aside li {
    padding: 1.7% 0;
}
.services aside h2{
    text-decoration: underline;
    border-bottom: 0.5px white solid;
    margin: 2% 24%;
}
.services article p {
    margin-bottom: 6%;
    padding: 1% 0 0 0;
}

.services .paiement {
    margin: 4% 0;
    border: none;
    background: green;
    border-radius: 15px;
    padding: 3% 5%;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.services .paiement {
    color: white;
    text-decoration: none;
}

.services article h3 {
    font-family: 'Fjalla One', sans-serif;
    padding: 3% 0;
    font-size: 1.25rem;
}
.services-presentation {
    margin-bottom: 1.5rem;
}
.info-details {
    margin-bottom: 3%;
    padding: 5% 10%;
}

.services i.fas {
    font-size: 1rem;
    padding: 4% 0;
}

.services .equipements {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
}

.services .info-details {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * *  <!-------->  page tarifs.html  <---------!> * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
.tarifs article h1 {
    font-size: 1.5rem;
}
.tarifsintroduction {
    padding: 18% 3% 3% 3%;
    
}
.tarifsintroduction p {
    padding: 1.4% 0;
}
.prix-supplementaire span {
    font-family: 'Gochi Hand', cursive;
}

.tarifs section h2 {
    text-align: center;
    font-size: 1.5rem;
}
.tarifs h3 {
    font-family: 'Chango', cursive;
    padding: 1.33rem 0px;
    font-size: 1.5rem;
    text-align: center;
}

.tarifs table {  
    padding: 3% 2% 3% 2%;
    margin: 0 auto;
}

.tarifs thead {
    font-family: 'Fjalla One', sans-serif;
}

.tarifs th {
    padding: 3%;
}
.tarifs td {
    display: table-cell;
    text-align: center;
    padding: 2%;
}
.tarifs section p {
    padding: 5% 0 1% 0;
    text-align:center;
    font-style: italic;
}
.tarifs .parking span {
    display: block;
}
.tarifs .parking {
    background: url("assets/parking-emplacement.jpeg");
    background-position: center 65%;
    background-position-x: 52%;
    color: white;
    font-size: 1.1rem;
}

.tarifs .parking table{
    border: none;
}

.tarifs table {
    border-collapse: inherit;
}

.tarifs-remorquage th:nth-child(2), .tarifs-remorquage td:nth-child(1), .tarifs-remorquage td:nth-child(2) {
    border-right: 1px dashed black;
    padding: 1% 4%;
}

.tarifs-remorquage th:nth-child(1) {
    background-color: #2f3438;
    color: white;
    border-radius:7px;
}

.tarifs caption {
    font-style: italic;
    font-family: 'Gochi Hand', cursive;
}
.tarifs caption span {
    display:block;
    font-size: 1.8rem;
}

.tarifs-peripherique td {
    font-family: 'Fjalla One', sans-serif;
}

.tarifs-peripherique th {
    font-style: italic;
    font-size: small;
}

.tarifs-peripherique td:nth-child(1), .tarifs-peripherique th:nth-child(1) {
    border-right: 1px dashed black;
}

.parking li {

    margin: 0 auto;

}
.parking ul {
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.parking {
    margin-top: 2%;
}

#prev-btn, #next-btn {
    background: transparent;
    border: none;
    color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * *  <!-------->  page informations.html  <---------!> * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
.decouverte {
    text-align: center;
}

.decouverte h1 {
    padding-top: 6.5rem;
    font-family: 'Chango', cursive;
    font-size: 1.3rem;
    margin: 0 1% 1% 1%;
}

.decouverte p {
    padding: 2%;
}

.decouverte article:nth-child(3) h2 {
    font-family: 'Gochi Hand', cursive;
    font-size: 1.33rem;
    text-transform: uppercase;
}
.decouverte article:nth-child(3) p {
    color: red;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Gochi Hand', cursive;
}
.decouverte article, .securite {
    padding: 2.5% 0;
}

.decouverte article:nth-child(3) {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    margin-bottom: 3%;
}
.decouverte ul li {
    padding: 3% 0;
}

.decouverte img {
    width: 50%;
    float: left;
    margin-bottom: 2%;
}
.challenge {
    clear: both;
    text-align: center;
}
.entreprise-annees-paris img {
    width: 50%; 
    float: left;
    margin-bottom: 2%;
    
}
.entreprise-annees-paris p {
    font-style: normal;
    padding: 3%;
    font-style: italic;
}

.entreprise-annees-paris h2 {
    font-family: 'Gochi Hand', cursive;
    font-size: 1.33rem;
    text-transform: uppercase;
    padding: 2% 0;
}
.entreprise-intervention-paris p {
    text-align: center;
}

.entreprise-intervention-paris li {
    background-color: #2f3438;
    color: white;
    border-radius: 7px;
    margin: 2% auto;
    width: 50%;
    padding: 1.8%;
    text-align: center;
}

.challenge {
    margin: 2% 0;
    padding: 2.5% 0;
}
.challenge h2 {
    margin: 4.5% 0 1% 0;
}
.challenge p {
    padding: 2% 0;
}
.challenge a {
    color: black;
}
.challenge img {
    width: 100%;
}
.entreprise-intervention-paris {
    clear: both;
    text-align: center;
}
.entreprise-intervention-paris img {
    width: 50%; 
    float: left;
   
}
.securite {
    clear: both;
}
.securite h2 {
    margin: 2% 0;
}
.securite h2, .challenge h2, .entreprise-intervention-paris h2 {
    font-family: 'Gochi Hand', cursive;
    font-size: 1.3rem;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * *  <!-------->  page mentions-legales.html  <---------!> * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
.legales h1 {
    padding-top: 8rem;
}

.legales article {
    padding: 0 5%;
}
.legales article h2 {
    margin: 3% 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * *  <!-------->  page mail.html  <---------!> * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * ** * * * * * * * * * * * */

.introduction-contact {
    padding: 5%;
}
.introduction-contact h1 {
    font-size: 1.3rem;
    padding: 5%;
}

.formulaire {
    padding-top: 4rem;
    text-align: center;
}

.inp, .msg-box {
    width: 75%;
    padding: 3%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: 1px solid black;
    border-radius: 10px;
}

.zone-formulaire {
    margin: 0 4.5%;
    padding: 7% 0;
    background-color: #2f3438;
    color: white;
    border-radius: 23px;
    font-family: 'Gochi Hand', cursive;
}

.zone-formulaire .info {
    font-size: 1.5rem;
    padding-bottom: 4.5%;
}

.reassure-contact img {
    margin-top: 2%;
    width: 100%;
}
/* style stripe paiement */
.style-stripe-adapt {
    background: #2f3438;
  }
  
  .style-stripe-adapt section {
    background: #ffffff;
    width: 75%;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 10rem;
  
  }
  .style-stripe-adapt .product {
    text-align: center;
  }
  .style-stripe-adapt .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .style-stripe-adapt img {
    border-radius: 6px;
    margin: 3%;
    width: 33%;
    max-height: 50%;
  }
  .style-stripe-adapt h3,
  .style-stripe-adapt h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.154px;
    color: #2f3438;
    margin: 0;
  }
  .style-stripe-adapt h5 {
    opacity: 0.5;
  }
  .style-stripe-adapt h4 {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
    padding: 1%;
  }
  .style-stripe-adapt h3 {
    font-size: 2rem;
    padding: 1%;
  }
  .style-stripe-adapt h5 {
    font-size: 1rem;
    padding: 1% 0 3% 0;
  }
  .style-stripe-adapt #checkout-button {
    height: 56px;
    background: green;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    border: 0;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.6;
    border-radius: 0 0 6px 6px;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  }
  .style-stripe-adapt #checkout-button:hover {
    opacity: 0.8;
  }
  
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
                /* * * * * * * * *RESPONSIVE DESIGN: MEDIA QUERIES* * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

                /* * * * * * * * *RESPONSIVE MOBILE TO TABLET* * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


@media (min-width: 660px){
    .anim-typewriter {
        animation: none;
    }
    .reassurance {
        display: inline-flex;
    }
    .nav-classic-sticky {
        padding: 1% 0 1% 10%;
    }
    .home-introduction {
        background-image: url(assets/depannage-remorquage-paris.jpg);
        background-size: 100%;
    }
    .home-introduction h1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5rem;
    }
    .home-introduction span {
        margin-top: -1%;
    }
    .reassurance, .introduction-entreprise, article .content {
        margin: 1% 4%;
    }
    .visite {
        border: 1px solid;
        border-radius: 20px;
        margin: 2% 4%;
        padding: 1.5%;
    }
    .nav-footer {
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
    }
    }

                /* * * * * * * * *RESPONSIVE TABLET TO DESKTOP* * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


@media (min-width: 1050px){
    body {
       background: #2f3438;
    }
    main {
        width: 70%;
        margin: 0 auto;
        background: white;
    }
    .assistance-direct {
        display: none;
    }
    .content {
        display: block;
        border: 0;
        padding: 0;
    }
    button, .container {
        display: none;
    }
    .nav-classic-sticky {
        margin: 0;
        padding: 1% 0 1% 16%;
    }
    .home-introduction {
        height: 22rem;
    }
    .home-introduction h1 {
        padding: 11rem 3rem;
    }
    .reassurance {
        display: flex;
        flex-direction: column;
    }
    .visite {
        border: none;
        display: flex;
        justify-content: center;
    }
    .visite h2 {
        padding: 0 0.33%;
    }
    .visite h3, .visite a {
        padding: 0 0.33%;
    }
    footer {
        width: 70%;
        margin: 0 auto;
    }
    /* * * * * * * * *Pages Services responsive pr desktop* * * * * * * * */
    .services h1 {
        padding-top: 7rem;
    }
    .services article h2:first-child {
        padding: 3% 0 4% 0;
    }
    .equipements ul {
        padding-left: 3%;
    }
    .info-details ul {
        padding-right: 3%;
    }

    /* * * * * * * * *Pages Contact responsive pr desktop* * * * * * * * */
    .zone-formulaire {
        margin: 0 10rem;
        padding: 3% 0;
    }
    .introduction-contact h1 {
        padding: 1% 0;
    }
    .introduction-contact {
        padding: 5% 0 1% 0;
    }

    .reassure-contact {
        padding-bottom: 3%;
    }
    .reassure-contact p {
        padding: 2%;
    }
    .footer-services {
        margin-top: -5.5%;
    }
/* * * * * * * * *Pages tarifs responsive pr desktop* * * * * * * * */
    .decouverte ul li {
        padding: 1% 0;
    }
}
