body {
  background: #2f3438;
}

section {
  background: #ffffff;
  width: 75%;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 10rem;

}
.product {
  display: flex;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  border-radius: 6px;
  margin: 3%;
  width: 33%;
}
h3,
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #2f3438;
  margin: 0;
}
h5 {
  opacity: 0.5;
}
h4 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}
h3 {
  font-size: 2rem;
  padding-bottom: 5%;
}
h5 {
  font-size: 1rem;
}
#checkout-button {
  height: 56px;
  background: green;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-size: 1.5rem;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
#checkout-button:hover {
  opacity: 0.8;
}
